@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="margin-top: 16px;">
    <div class="col-md-12">

        <a asp-controller="Home" asp-action="GetCsv">GetCsv</a>

    </div>
</div>
